.myheader {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.navbar {
    border-radius: 0px;
    background: white;
    color: black;
}

.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}

.dropdown-menu {
    font-size: 100%;
    background: white; 
}

#mycarousel {
    width: 383px;
    margin-top: 5%;
}

#mycarousel img {
    width: 383px;
    height: 274px;
}

.gallery img {
    width: 383px;
    height: 274px;
}

.center-block {
    float: none;
    text-align: center;
}

.sponsor {
    text-align: center;
}
.sponsor img{
    text-align: center;
    margin:1%;
    margin-top: 0px;
}


body {
    font-family: 'Nunito', serif;
    font-size: 175%;
    background: #eeeeee;
    color: red;
}

#footer a {
    margin-top: 1%;
}

#contactus {
    color: white;
}